doctype html
html
    head
        title Page title
        meta(charset='UTF-8')
        link(rel='stylesheet', href='style.css')
    body
        h1 Hello World
        p Contribute on #[a(href='http://github.com/elchiconube/frontend-framework') github]. #[strong Thanks!]
