/*------------------------------------*\
    $COMMON
\*------------------------------------*/

/**
* Text overflow
*/
%text-overflow {
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}

/**
* The ghost, nudged to maintain perfect centering
*/
%vcenter {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
}

/**
* Hover with opacity transition
*/
%hover_opacity {
	opacity: 1;
	transition: opacity $transition-time $transition-tf;
	&:hover {
		opacity: .5;
		transition: opacity $transition-time $transition-tf;
		text-decoration: none;
	}
}

/**
* Better Underline effect
*/
%better_underline{
	position: relative;
	&:hover{
		text-decoration: none;
		&::after{
			width: 100%;
		}
	}
	&::after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -2px;
		height: 2px;
		background-color: $color-main;
		width: 0;
		transition: width $transition-time $transition-tf;
	}

}

/**
* Image with inside shadow
*/
%shadow-inside {
	figure{
		position: relative;
		a{
			display: inline;
			&::before{
				content: '';
		    position: absolute;
		    width: 100%;
		    height: 100%;
				box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.2);
		    z-index: 1;
			}
		}
	}
}

/**
* Hide text only visually
*/
%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/**
* Hide text
*/
%hidden {
	display : none !important;
	visibility : hidden;
}

/**
* Hide but keep layout
*/
%invisible {
	visibility : hidden;
}

/**
* Hide text only visually but is focusable
*/
%visually-hidden{
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
* Clear floats.
* http://bit.ly/1e3YaBH
*/
%clearfix {
	&::after{
        content:"";
        display:table;
        clear:both;
    }
}
