/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/

html{
	font-family: $font-base;
	background-color: $color-white_grey;
	color:$color-black_grey;
	font-size: 15px;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*------------------------------------*\
    $TEXT
\*------------------------------------*/

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .75rem;
}

p{
	margin: 0 0 1rem 0;
}

blockquote{

}

/*------------------------------------*\
    $INLINE ELEMENTS
\*------------------------------------*/

a{

}

strong{

}

em{

}

/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

img{
	max-width: 100%;
 	height: auto;
}

.center{
	text-align: center;
}
.example{
	min-height: 100px;
	div{
		background-color: $color-black;
		min-height: 100px;
		@extend %vcenter;
		@include media-query-bp($bp-s,min,width,screen) {
			opacity: .9
	 	}
		@include media-query-bp($bp-s-m,min,width,screen) {
			opacity: .7
	 	}
		@include media-query-bp($bp-m,min,width,screen) {
			opacity: .5
	 	}
		@include media-query-bp($bp-l,min,width,screen) {
			opacity: .3
	 	}
		@include media-query-bp($bp-xl,min,width,screen) {
			opacity: .1
	 	}
		p{
			color:$color-white;
		}
	}
}
