/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/

html{}

body{
	font-family: $font-base;
	background-color: $color-white;
	color:$color-black_grey;
}

/*------------------------------------*\
    $TEXT
\*------------------------------------*/

h1,h2,h3,h4,h5{}


p{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

blockquote{}

/*------------------------------------*\
    $INLINE ELEMENTS
\*------------------------------------*/

a{}

strong{}

em{}

/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

img{
	max-width: 100%;
 	height: auto;
}
