/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/

html{}

body{
	font-family: $font-base;
	background-color: $color-white;
	color:$color-black_grey;
	font-size: $font-size;
	background-color: black;
}
